body {
    font-family: sans-serif;
    background-color: rgba(128, 128, 128, 0.159);;
}

h1 {
    text-align: center;
}

#music-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

#music-table th,
#music-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#music-table th {
    background-color: #0077D6;
}

#music-table tbody tr:hover {
    background-color: #f5f5f5;
}

iframe {
    width: 560px;
    height: 315px;
}