body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#music-table {
    width: 100%;
    border-collapse: collapse;
}

#music-table th,
#music-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#music-table th {
    background-color: #f2f2f2;
}

#music-table tbody tr:hover {
    background-color: #f5f5f5;
}

#music-table iframe {
    width: 100%;
    height: 315px;
}