body {
    font-family: sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

img {
    /* Set the desired smaller width */
  width: 1000px; 
  /* Crucially, set height to 'auto' to maintain the ratio */
  height: auto;
}

.notes {
    border: 1px solid #ddd;
    padding: 10px;
}
